article, aside, figure, footer, header, nav, section {
	display: block;
}

body {
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 10px;
	text-align: center;
	background: url(../images/background.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: repeat;
	color: #6f6f6f;
	width: 700px;
	border: 2px solid white;
	position: relative;
	margin: 0 auto;
}

header {
	background-image: -moz-linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
	background-image: -webkit-linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
	background-image: -o-linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
	background-image: linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
}

/*start: define the formating of header*/
header img {
	margin: 5px 25px;
}

header h1 {
	float: right;
	font-size: 250%;
	font-weight: bold;
	color: #CAE1FF;
	margin: .8em 6.5em .25em 0;
}
/*end*/

/*start: define the formatting of left image and navigation bar*/
aside {
	float: left;
	width: 200px;
	height: 600px;
	background: #CAE1FF;
}

aside img {
	margin-top: 10px;
	margin-right: 5px;
	border: 1px solid black;
}
/*end*/

/*start: define the formatting of right section*/
section {
	float: right;
	width: 485px;
	height: 600px;
	background: #CAE1FF;
	text-align: left;
	padding-left: 15px;
}

section img {
	border: 1px solid black;
}
/*end*/

/*start: styles for the form*/
form {
	padding-left: 3em;
}
fieldset {
	margin-bottom: 1em;
	padding: .5em 1em;
	width: 400px;
}
legend {
	font-weight: bold;
	font-size: 85%;
}
label {
	float: left;
	width: 10em;
	text-align: right;
}
input[type=checkbox] {
	width: 1.5em;
	margin-top: .5em;
	margin-left: 3em;
}
input[type=submit] {
	width: 10em;
	margin-top: 1em;
	margin-left: 2.5em;
}
input[type=reset] {
	width: 10em;
	margin-top: 1em;
	margin-left: 2.5em;
}
input, select {
	width: 15em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}
input:required, input[required] input:invalid {
	border: 2px solid #800000;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
	box-shadow: none;
}
br {
	clear: both;
}
textarea {
	height: 5em;
	width: 25em;
	font-family: Arial, Helvetica, sans-serif;
}
#radio label {
	float: none;
}
#radio input {
	width: auto;
	margin-left: 3em;
}
#exp_month {
	width: 7em;
}
#exp_year {
	width: 5em;
}
#buttons input {
	width: 10em;
}
/*end*/

/*start: define the formatting of table*/
table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 400px;
	margin: 10px auto;
}
caption {
	font-weight: bold;
	font-size: 120%;
	padding-bottom: .25em;
}
thead, tfoot {
	background-color: aqua;
	font-weight: bold;
	border: 1px solid black;
}
th, td {
	padding: .2em .7em;
	text-align: right;
	border: 1px solid black;
}
th:first-child, td:first-child {
	text-align: center;
}
th:nth-child(2), td:nth-child(2) {
	text-align: center;
}
tbody tr:nth-child(even) {
	background-color: silver;
}
/*end*/

a {
	font-weight: bold;
}
a:link {
	color: blue;
}
a:hover, a:focus {
	color: green;
	font-style: italic;
}

/*Start: The formatting of navigation bar*/
#navigation {
	margin: 10px 0 0 17px;
	padding: 0;
	list-style: none;
}

#navigation li {
	list-style: none;
	width: 130px;
	font-size: 11px;
	text-align: left;
	background-color: #E9967A;
	padding: .6em 0 .6em 2em;
	margin-left: 5px;
}
/*first child background color is different with others*/
#navigation li:first-child {
	width: 139px;
	font-size: 13px;
	background-color: #F2901C;
	margin-bottom: 0;
	font-weight: bold;
	padding-left: 1em;
}
#navigation li a{
	display: block;
}
#navigation a.current{
	background-color: yellow;
}
/*end*/

ul {
	margin-left: 20px;
	margin-top: 3px;
	text-align: left;
}

ol {
	margin-left: 20px;
	margin-top: 3px;
	text-align: left;
}

li {
	margin: 2px 0;
	color: black;
	font-size: 115%;
}

dl {
	margin-left: 20px;
	margin-top: 3px;
	text-align: left;
	color: black;
	font-size: 115%;
}

dt {
	margin: 3px 25px;
	font-weight: bold;
}

/*Start: General footer */
footer {
	clear: both;
	color: #fff;
	background: #cb0368;
	text-align: center;
	padding: 8px 0;
	background-image: -moz-linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
	background-image: -webkit-linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
	background-image: -o-linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
	background-image: linear-gradient(
	0deg, #218868 0%, #20B2AA 25%, #20B2AA 50%, #20B2AA 75%, #218868 100%);
}

footer a {
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
}

footer a:hover {
	color: #f8cde3;
	font-style: italic;
}
/*end*/
