.list-group-item-home{
    height: 250px;
}

#photo{
    float: left;
    margin-left: 25px;
    border: 1px solid #8B2500;
}

#contact{
    margin-top: 35px;
}

#objective h2{
    float: left;
    margin-top: 12px;
    margin-left: 25px;
}

#objective p{
    clear: both;
    text-align: left;
    margin: 10px 25px;
    font-size: 120%;
}

#skills h2{
    float: left;
    margin-top: 12px;
    margin-left: 25px;
}

#skills ul{
    clear: both;
    text-align: left;
    font-size: 120%;
    margin: 10px 25px 10px 10px;
}

#portfolios h2{
    float: left;
    margin-top: 12px;
    margin-left: 25px;
}

#portfolios ul{
    clear: both;
    list-style: none;
    text-align: left;
    font-size: 120%;
    margin-top: 10px;
}

#education h2{
    float: left;
    margin-top: 12px;
    margin-left: 25px;
}

#education ul{
    clear: both;
    list-style: none;
    text-align: left;
    font-size: 120%;
    margin-top: 10px;
}

#WorkHistory h2{
    float: left;
    margin-top: 12px;
    margin-left: 25px;
}

#WorkHistory h4{
    clear: both;
    float: left;
    margin-left: 25px;
}

#WorkHistory ul{
    clear: both;
    text-align: left;
    font-size: 120%;
    margin-top: 10px;
}

#hobby h2{
    float: left;
    margin-top: 12px;
    margin-left: 25px;
}

#hobby ul{
    clear: both;
    text-align: left;
    font-size: 120%;
    margin-top: 10px;
}

#BusserviceHeader{
    border: 3px double #8B0000;
	border-radius: 5px;
	margin: 10px 12px;
	padding: 10px 12px;
    height: 335px;
	-moz-box-shadow:0 0 3px 3px;
    -webkit-box-shadow:0 0 3px 3px;
    box-shadow:0 0 3px 3px;
}

#DevelopEnv{
    float: left;
    <!--width: 300px;-->
    position: relative;
    width: 40%;
}

#BusserviceHpage{
    float: left;
    border: 1px solid black;
    position: relative;
    max-width: 60%;
    overflow: hidden;
}

#BusserviceSection{
    border: 3px double #8B0000;
	border-radius: 5px;
	margin: 10px 12px;
	padding: 10px 12px;
    height: 1300px;
	-moz-box-shadow:0 0 3px 3px;
    -webkit-box-shadow:0 0 3px 3px;
    box-shadow:0 0 3px 3px;
}

.Function{
    clear: both;
}

.BusserviceFunction{
    float: left;
    margin-top: 10px;
    position: relative;
    width: 40%;
}

.FunctionPage{
    float: left;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
    max-width: 50%;
    overflow: hidden;
}

#WPFHeader{
    border: 3px double #8B0000;
	border-radius: 5px;
	margin: 10px 12px;
	padding: 10px 12px;
    height: 335px;
	-moz-box-shadow:0 0 3px 3px;
    -webkit-box-shadow:0 0 3px 3px;
    box-shadow:0 0 3px 3px;
}

#WPFHpage{
    float: right;
    border: 1px solid black;
    margin-right: 10px;
    position: relative;
    width: 58%;
    overflow: hidden;
}

#WPFSection{
    border: 3px double #8B0000;
	border-radius: 5px;
	margin: 10px 12px;
	padding: 10px 12px;
    height: 1150px;
	-moz-box-shadow:0 0 3px 3px;
    -webkit-box-shadow:0 0 3px 3px;
    box-shadow:0 0 3px 3px;
}

.WPFFunction{
    clear: both;
    float: left;
    margin-top: 10px;
    position: relative;
    width: 40%;
}
